<header>
    <div class="app__logo"><a href="/">Logo</a></div>
    <nav class="navbar__list">
        <li>
           <a href="#">Home</a> 
        </li>
        <li>
           <a href="#">About</a> 
        </li>
        <li>
          <a href="#">Zlib</a>  
        </li>
        <li>
           <a href="#">Brotli</a> 
        </li>
        <li>
          <a href="#">Dflate</a>  
        </li>
    </nav>
</header>